<section class="contact">
    <div class="page-banner relative"
        style="background-image: url(../../assets/images/ontact-banner.jpg); background-repeat:no-repeat; background-size: cover;">
        <div class="container m-auto">
            <div class="flex justify-center items-center ">
                <div class="page-banner-content py-36 w-full text-center">
                    <h1 class="text-lg_h1 text-white">CONTACT US</h1>

                    <ul class="flex items-center justify-center gap-3">
                        <li><a href="javascript:void(0);" class="text-white">Home <i
                                    class="fas fa-chevron-right text-sm"></i> <i
                                    class="fas fa-chevron-right text-sm"></i></a></li>
                        <li class="text-orange">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-details mt-[100px]">
    <div class="container m-auto">
        <div class="contact-details-content">
            <h2 class="text-md_h1 text-center">Let's do great work together.</h2>
            <p class="text-center">Are you looking for the top and best web design and development agency in India? We
                have the best designers to deal with your online goals.</p>


               

                <div class="contact-det mt-6">
                    <div class="flex gap-10">
                        <div class="w-1/2">
                            <div class="contact-details-inner">
                                <div class="contact-details-inner-heading">
                                    <h3 class="text-3xl font-bold">Get In Touch</h3>
                                </div>
        
                                <div class="contact-details-fields mt-4">
                                    <div class="flex gap-5">
                                        <div class="w-1/2">
                                            <div class="contact-details-fields-col">
                                                <label for="">Name</label>
                                                <input type="text" name="price" id="price"  class="block w-full rounded-md border-0 ring-1 focus:ring-1 ring-gray-300 focus:ring-orange"
                                                placeholder="Name">
                                            </div>
                                        </div>
        
                                        <div class="w-1/2">
                                            <div class="contact-details-fields-col">
                                                <label for="">Email</label>
                                                <input type="text" name="price" id="price"  class="block w-full rounded-md border-0 ring-1 focus:ring-1 ring-gray-300 focus:ring-orange"
                                                placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="flex gap-5 mt-5">
                                        <div class="w-1/2">
                                            <div class="contact-details-fields-col">
                                                <label for="">Phone Number</label>
                                                <input type="text" name="price" id="price"  class="block w-full rounded-md border-0 ring-1 focus:ring-1 ring-gray-300 focus:ring-orange"
                                                placeholder="Phone Number">
                                            </div>
                                        </div>
        
                                        <div class="w-1/2">
                                            <div class="contact-details-fields-col">
                                                <label for="">Subject</label>
                                                <input type="text" name="price" id="price"  class="block w-full rounded-md border-0 ring-1 focus:ring-1 ring-gray-300 focus:ring-orange"
                                                placeholder="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="flex mt-5">
                                        <div class="w-full">
                                            <div class="contact-details-fields-col">
                                                <label for="">Message</label>
                                               <textarea name="" id="" cols="10" rows="7" placeholder="Message" class="block w-full rounded border-0 ring-1 focus:ring-1 ring-gray-300 focus:ring-orange"></textarea>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="flex mt-5">
                                        <div class="w-full">
                                            <div class="contact-details-fields-col">
                                                <button type="submit" class="bg-orange text-white px-5 py-2 rounded-md hover:bg-black duration-300">Submit</button>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
        
                        <div class="w-1/2">
                            <div class="contact-details-inner pt-9">
                                <div class="contact--details-inner-content">
                                         <div class="contact-details-col">
                                            <div class="contact-info mt-7"> 
                                                    <div class="w-full mt-8">
                                                        <div class="bg-orange p-6 rounded-md">
                                                            <div class="flex items-center gap-3">
                                                                <i class="fas fa-map-marker-alt text-orange p-5 bg-white rounded-full w-[50px] h-[50px]"></i>
                                                                <div class="contact-info-inner">
                                                                    <h4 class="text-xl font-bold text-white">Office Address</h4>
                                                                    <p class="text-white">198 West 21th Street,Suite 721 New York NY 10016</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                            
                                                    <div class="w-full mt-8">
                                                        <div class="bg-orange p-6 rounded-md">
                                                            <div class="flex items-center gap-3">

                                                            <i class="fas fa-phone-alt text-orange p-5 bg-white rounded-full w-[50px] h-[50px] block"></i>
                                                            <div class="contact-info-inner">
                                                                <h4 class="text-xl font-bold text-white">Call Us</h4>
                                                                <a href="tel:+91-8744023987" class="text-white">+91-8744023987</a>
                                                            </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                            
                                                    <div class="w-full mt-8">
                                                        
                                                        <div class="bg-orange p-6 rounded-md">
                                                            <div class="flex items-center gap-3 ">

                                                        <i class="fas fa-envelope  text-orange p-5 bg-white rounded-full w-[50px] h-[50px] block"></i>
                                                        <div class="contact-info-inner">
                                                            <h4 class="text-xl font-bold text-white">Email Us</h4>
                                                            <a href="mailto:info@kodoapex.com" class="text-white">info&#64;kodoapex.com</a>    
                                                        </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                         </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>

    </div>
</section>